#tblVwDocuments {
	border-bottom:			none;
}
#wgtDocumentPicture {
	border-top:				none;
	border-bottom:			none;
}

#txtDocumentsStatus {
	font-size:				10px;
	font-style:				Arial;
	margin-left:			1em;
}
