#tblVwSlips {
	border-bottom:			none;
}
#txtSlipComments {
	font-size:				10px;
	background:				#eee;
	border:					1px solid Gray;
	border-bottom:			none;
}

#tblVwDocuments {
	border-bottom:			none;
}
#wgtDocumentPicture {
	border-top:				none;
	border-bottom:			none;
}
