h3 {
    font-size:				1em;
    font-weight:			bold;
}

th {
    font-weight:            bold;
}
td {
    color:                  #444;
}

.title {
    font-weight:            bold;
}
.label {
    text-align:             left;
}
.amount {
    text-align:             right;
}
