* {
	font-family:			Verdana;
	font-size:				12px;
}

QMenu {
	background:				QRadialGradient(
		cx: .3, cy: -.4,
		fx: .3, fy: -.4,
		radius: 1.2, stop: 0 #fff, stop: 1 #ccc
	);
	font-weight:			normal;
	border:					1px inset;
}
QMenu::item {}
QMenu::item:selected {
	background:				Gray;
	color:					White;
}
QMenu::separator {
	height:					1px;
}

QSplitter {
	width:					5;
	background:				transparent;
}
QSplitter::handle {
	width:					0;
	image:					none;
	background:				none;
}

QScrollArea,
QScrollArea * {
	background:				#eee;
}

QGroupBox {
	background:				#eee;
	border:					1px solid Gray;
	border-radius:			9px;
}
QGroupBox::title {
	color:					Black;
	font-weight:			bold;
}

#wgtContainer {
    background:				QLinearGradient(
        x1: 0, y1: 0,
        x2: 0, y2: 1,
        stop: 0 #8195bb, stop: 1 #eff2f7
    );
    border:					2px solid darkgrey;
}
#wgtPrimaryCustomZone {
    background-image:		url(:/Resources/Images/PrimaryImage.png);
}
#wgtSecondaryCustomZone {
    background-image:		url(./Themes/JdcMidiPy.rsuuitheme/SecondaryImage.png);
}

#tblVwSlips,
#tblVwDocuments {
	background:				#eee;
	border:					1px solid Gray;
	border-top-left-radius:	3px;
	border-top-right-radius:3px;
	alternate-background-color:
							#ddd;
}
#tblVwSlips > QHeaderView::section,
#tblVwDocuments > QHeaderView::section {
	height:					18px;
	background-color:		QLinearGradient(
		x1: 0, y1: 0,
		x2: 0, y2: 1,
		stop: 0 #999, stop: .5 #888, stop: .6 #777, stop: 1 #999
	);
	color:					White;
	padding:				2px 1px 2px 5px;
	border:					none;
	border-right:			1px solid LightGray;
}
#tblVwSlips::item,
#tblVwDocuments::item {
	height:					18px;
}
#tblVwSlips::item::selected,
#tblVwDocuments::item::selected {
}

QLineEdit {
	font-size:				12px;
	min-height:				18px;
	border:					1px solid Gray;
	border-radius:			0;
	background:				none;
	selection-background-color:	DarkGray;
}
QLineEdit:read-only {
	background:				transparent;
	border:					none;
}

RSUUI--WgtButtonsBar {
	padding:				3px;
	border:					1px solid Gray;
}
RSUUI--WgtButtonsBar QLabel {
	color:					White;
}
RSUUI--WgtMainButtonsBar {
	border-bottom-left-radius:	9px;
	border-bottom-right-radius:	9px;
	background:				QLinearGradient(
		x1: 0, y1: 0,
		x2: 0, y2: 1,
		stop: 0 #bbb, stop: .49 #888, stop: .5 #777, stop: .08 #999, stop: .9 #666, stop: 1 #555 
	);
}
RSUUI--WgtMainButtonsBar QPushButton {
	min-width:				100px;
	min-height:				30px;
}
RSUUI--WgtSecondaryButtonsBar {
	padding:				1px;
	border-bottom-left-radius:	5px;
	border-bottom-right-radius:	5px;
	background:				QLinearGradient(
		x1: 0, y1: 0,
		x2: 0, y2: 1,
		stop: 0 #888, stop: .49 #555, stop: .5 #444, stop: .08 #666, stop: .9 #444, stop: 1 #222 
	);
}
RSUUI--WgtSecondaryButtonsBar QPushButton {
	min-width:				18px;
	min-height:				18px;
	border-radius:			3px;
}

RSUUI--BtnNormal {
	border-radius:			7px;
	border:					1px solid #555;
	padding:				5px;
	background:				QRadialGradient(
		cx: .3, cy: -.4,
		fx: .3, fy: -.4,
		radius: 1.2, stop: 0 #fff, stop: 1 #999
	);
}
RSUUI--BtnNormal:hover {
	background:				QRadialGradient(
		cx: .3, cy: -.4,
		fx: .3, fy: -.4,
		radius: 1.2, stop: 0 #fff, stop: 1 #bbb
	);
}
RSUUI--BtnNormal::pressed {
	background:				QRadialGradient(
		cx: .4, cy: -.1,
		fx: .4, fy: -.1,
		radius: 1.2, stop: 0 #fff, stop: 1 #ddd
	);
}
RSUUI--BtnClose {
	color:					#333;
	background:				QRadialGradient(
		cx: .3, cy: -.4,
		fx: .3, fy: -.4,
		radius: 1.2, stop: 0 #bbf, stop: 1 #88a
	);
}
RSUUI--BtnAccept {
	color:					#333;
	background:				QRadialGradient(
		cx: .3, cy: -.4,
		fx: .3, fy: -.4,
		radius: 1.2, stop: 0 #bfb, stop: 1 #8a8
	);
}
RSUUI--BtnReject {
	background:				QRadialGradient(
		cx: .3, cy: -.4,
		fx: .3, fy: -.4,
		radius: 1.2, stop: 0 #fbb, stop: 1 #a88
	);
}

RSUUI--ImageWidget {
	background:				#eee;
	border:					1px solid Gray;
}
