#wgtDocumentPicture {
	border:					1px solid Gray;
	border-top-left-radius:	3px;
	border-top-right-radius:3px;
	border-bottom:			none;
}
#txtSerialValidity {
	font-size:				10px;
	font-style:				Arial;
	margin-left:			1em;
}
