* {
	color:					#222;
	font-size:				10px;
	font-weight:			normal;
	margin:					0;
	padding:				0;
	list-style:				none;
	text-indent:			0;
}

h1 {
	color:					#555;
	font-size:				12px;
	font-weight:			bold;
}
h2 {
	color:					#444;
	font-size:				11px;
	font-weight:			bold;
}
h3 {
	color:					#333;
	font-size:				10px;
	font-weight:			bold;
}

ul, li {
	list-style:				none;
	margin:					0;
	padding:				0;
	text-indent:			0;
}

span.amount {
	float:					right;
	width:					65px;
	margin:					0;
	padding:				0;
	text-align:				right;
}
